@import './../../style/default.less';

.home-wrap {
	background-color: @colorM;
	width: 100%;
	height: calc(62vh);
	display: flex;
	align-items: center;      //设置垂直方向居中
	justify-content: center;  //设置水平方向居中
	color: red;
	font-size: 23px;
	border-radius: 4px;
}